{% load staticfiles %}
<html>
    <head>
        <title>いらすとやクイズ</title>
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/final.css' %}">
    </head>
    <body>
      <h1>いらすとやクイズ</h1>
      <div id="answer">
        <a>
          {{answer}}
        </a>
      </div>
      <div class="time">
      </div>
      <p>
        <div id="illust">
          <a href="{{location}}">
            <img src="{{imageurl}}">
          </a>
        </div>
      </p>
      <div id="description">
        <a>
          {{description}}
        </a>
      </div>
    </body>
</html>
